body.site {
	padding: 20px;
	background-image: url(../images/background.svg);
	background-attachment: fixed;
	background-size: cover;
}

.container {
	max-width: 860px !important;
}

.body .container {
	background-color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
}

.banner a {
	color: #333;
	font-family: Arial;
	font-weight: 900;
	font-variant: small-caps;
}
.banner a:hover {
	color: #333;
	text-decoration: none;
}

.banner h1 {
	text-shadow: 0px 0px 7px #f16667;
	font-size: 3.5em;
}

.banner img {
	width: 10em;
}

.footer span {
	margin-top: 10px;
}

.menu-filter button img {
	width: 3.5em;
}

table img {
	width:  3.5em;
}

@media(max-width: 480px) {
	.fa-sort {
		display: none !important;
	}
	.tb-title,
	.tb-price {
		cursor: pointer;
	}
}

.menu-filter {
	margin-bottom: 20px;
}

.cursor-pointer,
.cart {
	cursor: pointer;
}

.cart {
	padding-top: 10px;
}

.badge-total {
	position: absolute;
	right: -8px;
	top: 7px;
	background-color: #60ff5e;
	color: #000 !important;
}

@media(max-width: 768px) {
	.badge-total {
		position: inherit;
	}
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
	background-color: #8a9095 !important;
	border-color: #606060 !important;
	color: #fff !important;
}

.pagination > li > a {
	color: #999fa5 !important;
}

.form-mob {
	display: none !important;
}

@media(max-width: 765px) {
	.form-desk {
		display: none !important;
	}
	.form-mob {
		display: block !important;
	}
}

