body.site {
	padding: 20px;
	background-image: url(../images/background.svg);
	background-attachment: fixed;
	background-size: cover;
	background-color: #F16667;
	background-position: top;
}

.container {
	max-width: 860px !important;
}

.body .container {
	background-color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 20px;
	border: 1px solid rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 6px rgba(219, 48, 48,0.05);
	-webkit-box-shadow: 0px 0px 6px rgba(219, 48, 48,0.05);
	box-shadow: 0px 0px 6px rgba(219, 48, 48,0.05);
}

.banner a {
	color: #333;
	font-family: Arial;
	font-weight: 900;
	font-variant: small-caps;
}
.banner a:hover {
	color: #333;
	text-decoration: none;
}

.banner h1 {
	text-shadow: 1px 1px 3px #f16667;
	font-size: 3.5em;
}

.banner img {
	width: 10em;
}

.footer span {
	margin-top: 10px;
}

table img {
	width:  3.5em;
}

.tb-title,
.tb-price {
	padding-top: 16px !important;
}

@media(max-width: 480px) {
	.fa-sort {
		display: none !important;
	}
	.tb-title,
	.tb-price {
		cursor: pointer;
	}

	table img {
		width: 2.1em;
		padding-top: 7px;
	}
}

.menu-filter {
	display: flex !important;
	justify-content: center !important;
	text-align: center !important;
	flex-flow: row wrap !important;
	margin-bottom: 20px;
}

.menu-filter button img {
	width: 4.5em;
}

.navbar-brand img {
	width: 2.3em;
	margin: -11px !important;
}

.cursor-pointer,
.bag {
	cursor: pointer;
}

.bag {
	margin-top: -8px;
}

.badge-total {
	position: absolute;
	left: 70px;
	top: 7px;
	background-color: #60ff5e !important;
	color: #000 !important;
}

.badge-finish {
	font-size: 14px !important;
	color: #000 !important;
	background-color: #fff !important;
}

.icon-bag,
#bagButton {
	display: none;
}

#bagButton span {
	font-size: 16px;
}

@media(max-width: 768px) {
	.badge-total {
		left: 85px;
	}
	.icon-bag,
	#bagButton {
		display: block;
	}
	#bag {
		display: none;
	}

	body.site {
		background-image: url();
	}

}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
	background-color: #8a9095 !important;
	border-color: #606060 !important;
	color: #fff !important;
}

.pagination > li > a {
	color: #999fa5 !important;
}

.form-mob {
	display: none !important;
}

@media(max-width: 765px) {
	.form-desk {
		display: none !important;
	}
	.form-mob {
		display: block !important;
	}
}

.footer span {
	font-variant: small-caps;
	font-weight: 900;
}
.icons-share a:hover{
	text-decoration: none;
}
.fa-facebook-square {
	color: #303f9f;
}
.fa-google-plus-square {
	color: #DB4437;
}
.fa-github {
	color: #000;
}
.list-tools span {
	background-color: #db3030 !important;
	color: #fff !important;
}

.modal-header-success {
    background-color: #5cb85c !important;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-top-left: 5px;
    -moz-border-radius-top-right: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-primary {
    background-color: #428bca !important;
    color: #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-top-left: 5px;
    -moz-border-radius-top-right: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}