<!DOCTYPE html>
<html lang="en" ng-app="appfood">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>App Food Delivery</title>

	<!-- CSS files -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- JavaScript files -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/ngstorage/ngStorage.min.js"></script>
	<script src="bower_components/dirPagination/dirPagination.js"></script>
	<script src="js/app.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

	<link rel="shortcut icon" href="images/logo.png">

</head>
<body ng-controller="appfoodController" class="site">
	
	<div class="body">

		<div class="container">
			
			<header class="header">
				<div class="banner text-center">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
					<h1><a href="index.html">App Food<br>Delivery</a></h1>
				</div>
			</header>

			<hr />

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">

						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<span class="navbar-brand">
							<a href="index.html"><img src="images/logo-brand.png" alt=""></a>
						</span>
						<span class="navbar-brand icon-bag">
							<span data-toggle="modal" data-target="#modalBag">
									<i ng-click="moveTo" class="fa fa-shopping-cart fa-2x bag" title="See you cart">
									<span ng-if="bag.length > 0" class="badge badge-total">{{totalItems}}</span>
								</i>
							</span>
						</span>

					</div>

					<!-- Collect the nav links, forms and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-navbar">
						<ul class="nav navbar-nav">
							<li class="active">
								<a href="javascript:void(0)">HOME 
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li>
								<a href="about.html">ABOUT</a>
							</li>
						</ul>

						<form class="navbar-form navbar-right form-desk">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search for food" ng-model="search">
							</div>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>

			<hr />

			<!-- Menu filter -->
			<div class="row-fluid">

				<div class="menu-filter btn-group" role="group">
					
					<button ng-click="filterBy('')" class="btn btn-default">
						<img src="images/all.svg" alt="All" />
						<br>All
					</button>
				
					<button ng-click="filterBy('salad')" class="btn btn-default">
						<img src="images/salad.svg" alt="Salad" />
						<br>Salad
					</button>
				
					<button ng-click="filterBy('pizza')" class="btn btn-default">
						<img src="images/pizza.svg" alt="Pizza" />
						<br>Pizza
					</button>
				
					<button ng-click="filterBy('chinese')" class="btn btn-default">
						<img src="images/chinese.svg" alt="Chinese" />
						<br>Chinese
					</button>

					<button ng-click="filterBy('beverage')" class="btn btn-default">
						<img src="images/beverage.svg" alt="Beverage" />
						<br>Beverage
					</button>

					<button ng-click="filterBy('burgers')" class="btn btn-default">
						<img src="images/burgers.svg" alt="Burgers" />
						<br>Burgers
					</button>
				</div>

				<form class="navbar-form navbar-static-top form-mob">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search for food" ng-model="search">
					</div>
				</form>

				<!-- Table of content -->
				<div class="col-md-6">
					<div class="panel panel-default">
						
						<table class="table table-condensed">
							
							<thead>
								<tr>
									<th></th>
									<th class="tb-title" ng-click="orderByMe('title')" title="Click to sort by title">
										TITLE <i class="fa fa-sort cursor-pointer"></i>
									</th>
									<th class="tb-price" ng-click="orderByMe('price')" title="Click to sort by price">
										PRICE <i class="fa fa-sort cursor-pointer"></i>
									</th>
									<th></th>
								</tr>
							</thead>

							<tbody>
								<tr dir-paginate="food in menu | filter: search | filter: myFilter | orderBy:myOrderBy:reverse | itemsPerPage: 9">
									<td><img ng-src="{{loadImg(food)}}" alt=""></td>
									<td class="tb-title"><b>{{food.title}}</b></td>
									<td class="tb-price">{{food.price | currency}}</td>
									<td>
										<a ng-click="addFoodBag(food.id)" href="javascript:void(0)" class="btn btn-default">
											<i class="fa fa-cart-plus fa-2x" aria-hidden="true">
												
											</i>
										</a>
									</td>
								</tr>
							</tbody>

						</table>

						<div class="text-center">
							<dir-pagination-controls max-size="9" boundary-links="true"></dir-pagination-controls>
						</div>
						

					</div>
				</div>

				<!-- Bag -->
				<div class="col-md-6" id="bag">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							<h4 class="panel-title">Your bag</h4>
						</div>
						<div class="panel-body">
							<table class="table table-condensed">

								<div ng-if="bag.length < 1" class="alert alert-info text-center">
									The bag is empty!
								</div>

								<tr ng-repeat="food in bag">
									<td>{{food.title}}</td>
									<td>x{{food.quantity}}</td>
									<td>{{food.price | currency}}</td>

									<td>
										<a ng-click="addOne(food.id)" href="javascript:void(0)" class="btn btn-default">
											<i class="fa fa-plus" aria-hidden="true"></i>
										</a>
										<a ng-click="removeOne(food.id)" href="javascript:void(0)" class="btn btn-default">
											<i class="fa fa-minus" aria-hidden="true"></i>
										</a>
									</td>
								</tr>

								<tr ng-if="bag.length > 0">
									<td><b>Total:</b></td>
									<td></td>
									<td><span><b>{{totalBag | currency}}</b></span></td>
									<td></td>
								</tr>
								
							</table>

							<div ng-if="bag.length > 0" class="panel-footer text-center">
								<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalFinish">Proceed to checkout</button>
							</div>
						</div>
					</div>
				</div><!--end Bag -->

				<div class="col-md-6" id="bagButton">
					<button type="button" class="btn btn-primary btn-group-justified" data-toggle="modal" data-target="#modalBag">
						<i class="fa fa-shopping-cart fa-2x"></i> <span>See your shopping bag</span>
					</button>
				</div>

				<!-- Modal Bag -->
				<div class="modal fade" id="modalBag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Your bag</h4>
							</div>
							<div class="modal-body">
								<table class="table table-condensed">

									
									<div ng-if="bag.length < 1" class="alert alert-info text-center">
										The bag is empty!
									</div>
									

									<tr ng-repeat="food in bag">
										<td>{{food.title}}</td>
										<td>x{{food.quantity}}</td>
										<td>{{food.price | currency}}</td>
										<td>
											<a ng-click="addOne(food.id)" href="javascript:void(0)" class="btn btn-default">
												<i class="fa fa-plus" aria-hidden="true"></i>
											</a>
											<a ng-click="removeOne(food.id)" href="javascript:void(0)" class="btn btn-default">
												<i class="fa fa-minus" aria-hidden="true"></i>
											</a>
										</td>
										
									</tr>
									<tr ng-if="bag.length > 0">
										<td><b>Total:</b></td>
										<td></td>
										<td><span><b>{{totalBag | currency}}</b></span></td>
										<td></td>
									</tr>
								</table>

								<div ng-if="bag.length > 0" class="panel-footer text-center">
									<button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#modalFinish">Proceed to checkout</button>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

				<!-- modal finish -->
				<div class="modal fade" id="modalFinish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header modal-header-primary">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Checkout</h4>
							</div>

							<div class="modal-body">
								<ul class="list-group">
									<li class="list-group-item" ng-repeat="food in bag">
										{{food.title}} 
										<span class="badge badge-finish">{{food.quantity}}x &nbsp;&nbsp;{{food.price | currency}}</span>
									</li>
									<li class="list-group-item"> </li>
									<li class="list-group-item">
										<b>Total purchase</b>
										<span class="badge badge-finish"><span>{{totalBag | currency}}</span></span>
									</li>
								</ul>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									<i class="fa fa-close"></i> Back	
								</button>
								<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalEnd" data-dismiss="modal" ng-click="cleanBag()">
									<i class="fa fa-check"></i> Buy
								</button>
							</div>
						</div>
					</div>
				</div><!-- end Modal finish -->

				<!-- Modal End Purchase -->
				<div class="modal fade" id="modalEnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header modal-header-success">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Purchase completed</h4>
							</div>
							<div class="modal-body">
								Thank you and come again!
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div><!-- end Modal end purchase -->

			</div>

		</div>

	</div>
	
	<br />

	<footer class="footer text-center container">
		<span>App Food Delivery<br>Johanny LS - 2017</span><br>
	</footer>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
		ga('create', 'UA-99999308-1', 'auto');
		ga('send', 'pageview');
	</script>


</body>
</html>